In [1]:
file = open("file_example.txt", "r")
contents = file.read()
file.close()
print(contents)

First line of text
Second line of text
Third line of text

In [2]:
with open('file_example.txt', 'r') as file:
    contents = file.read()
print(contents)

First line of text
Second line of text
Third line of text

In [10]:
import os
os.getcwd()

'/Users/argus/Programming'

In [16]:
os.getcwd()

'/Users/argus/Programming/GSDS_Bootcamp/computing'

In [21]:
with open('file_example.txt', 'r') as file:
    for line in file:
        print(line)

First line of text

Second line of text

Third line of text

In [22]:
import urllib.request
url = "https://robjhyndman.com/tsdldata/ecology1/hopedale.dat"
with urllib.request.urlopen(url) as file:
    for line in file:
        line = line.strip()
        line = line.decode("utf-8")
        print(line)

Coloured fox fur production, HOPEDALE, Labrador,, 1834-1925
#Source: C. Elton (1942) "Voles, Mice and Lemmings", Oxford Univ. Press
#Table 17, p.265--266
22
29
2
16
12
35
8
83
166
62
77
42
54
56
5
9
78
151
27
14
71
261
22
3
16
70
7
2
26
27
35
9
11
73
39
22
41
31
60
7
28
43
17
26
35
60
75
18
58
38
28
26
29
43
16
40
25
28
12
22
13
52
90
103
15
26
29
102
31
9
33
90
95
17
35
59
115
12
26
38
202
25
83
92
58
0
19
63
108
25
38
231

In [23]:
with open('file_example.txt', 'w') as output_file:
    output_file.write("Programming for Data Science")

In [25]:
with open('file_example.txt', 'a') as output_file:
    output_file.write(" is fun...?")

In [26]:
with open('file_example.txt', 'r') as file:
    print(file.read())

Programming for Data Science is fun...?

# Practice FILE IO

In [27]:
with open("file_practice.txt", "r") as file:
    print(file.read())

#Annual Number of Lynx Trapped, MacKenzie River, 1821-1934
#Original Source: Elton, C. and Nicholson, M. (1942)
#"The ten year cycle in numbers of Canadian lynx",
#J. Animal Ecology, Vol. 11, 215--244.
#This is the famous data set which has been listed before in
#various publications:
#Cambell, M.J. and Walker, A.M. (1977) "A survey of statistical work on
#the MacKenzie River series of annual Canadian lynx trappings for the years
#1821-1934 with a new analysis", J.Roy.Statistical Soc. A 140, 432--436.

  269.  321.  585.  871. 1475. 2821. 3928. # 5943. 4950. 2577.  523.   98.  These numbers are not valid
  184.  279.  409. 2285. 2685. 3409. 1824.  409.  151.   45.   68.  213.
  546. 1033. 2129. 2536.  957.  361.  377.  225.  360.  731. 1638. 2725.
 2871. 2119.  684.  299.  236.  245.  552. 1623. 3311. 6721. 4245.  687.
#### This is a break line
  255.  473.  358.  784. 1594. 1676. 2251. 1426.  756.  299.  201.  229.
  469.  736. 2042. 2811. 4431. 2511.  389. 73.   39.   49.   59.  188.
  377. 1292. 4031. 3495.  587.  105.  153.  387.  758. 1307. # 3465. 6991. These numbers are not valid
 6313. 3794. 1836.  345.  382.  808. 1388. 2713. 3800. 3091. 2985. 3790.
  674.   81.   80.  108.  229.  399. 1132. 2432. 3574. 2935. 1537.  529.
  485.  662. 1000. 1590. 2657. 3396.

In [55]:
data_list = []
with open("file_practice.txt", "r") as file:
    for line in file:

        if line.startswith("#"):
            continue

        if "#" in line:
            line = line.split("#")[0]
            
        line = line.strip()

        line = line.replace(" ", "").strip()
        
        data = line.split(".")[:-1]

        data_list += data


data_list = list(map(int, data_list))
print(data_list)
print(max(data_list))

[269, 321, 585, 871, 1475, 2821, 3928, 184, 279, 409, 2285, 2685, 3409, 1824, 409, 151, 45, 68, 213, 546, 1033, 2129, 2536, 957, 361, 377, 225, 360, 731, 1638, 2725, 2871, 2119, 684, 299, 236, 245, 552, 1623, 3311, 6721, 4245, 687, 255, 473, 358, 784, 1594, 1676, 2251, 1426, 756, 299, 201, 229, 469, 736, 2042, 2811, 4431, 2511, 389, 73, 39, 49, 59, 188, 377, 1292, 4031, 3495, 587, 105, 153, 387, 758, 1307, 6313, 3794, 1836, 345, 382, 808, 1388, 2713, 3800, 3091, 2985, 3790, 674, 81, 80, 108, 229, 399, 1132, 2432, 3574, 2935, 1537, 529, 485, 662, 1000, 1590, 2657, 3396]
6721

In [56]:
x = 1
x + 2 == x.__add__(2)

True

In [57]:
isinstance(1, int) and isinstance(1.0, float) and isinstance('kk', str)

True

In [58]:
class complex_number:
    def __init__(self, v, i):
        self.real_part = v
        self.imaginary_part = i

    def __add__(self, other):
        return complex_number(self.real_part + other.real_part, self.imaginary_part + other.imaginary_part)

    def __eq__(self, other):
        return self.real_part == other.real_part and self.imaginary_part == other.imaginary_part

In [59]:
complex_number(5, 7) == complex_number(1, 2) + complex_number(4, 5)

True

In [60]:
class foo:
    def __init__(self, v, type_) -> None:
        self.value = v
        self.type_ = type_

    def __eq__(self, other) -> bool:
        if isinstance(other, foo):
            return self.value == other.value
        return False

In [61]:
f1, f2 = foo(1, 'type_1'), foo(1, 'type_2')
f1 == f2

True